<li>
    <% if(locals.user && locals.user.id == post.user.id ){ %>
        
    <a href="/post/destroy/<%= post._id %>">X</a>

    <% } %>
    <img src="<%= post.picture %>" alt="posts image" width="100px">
    <%= post.content %>
    <small>
        <%= post.user.name %>
    </small>
</li>

<div>
    
    <form action="/comment/create" method="POST">
    <textarea name="content"  cols="15" rows="2" placeholder="comment.."></textarea>
    <input type="hidden" name="id" value="<%= post.id %>">
    <button type="submit">Comment</button>
    </form>
    <ul>
        <% for(comment of post.comments ){%>
            <%- include('_comments'); %>
        <% } %>
    </ul>
</div>
