<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="icon"
      href="../uploads/picture-1590430559977"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/chat-file.css" />
    <link rel="stylesheet" href="/css/userList.css" />
  </head>
  <body>
    <% if(locals.user){ %>
    <header>
      <%- include('_header'); %>
    </header>
    <div id="page-area">
      <div id="userList-ChatBox">
        <div class="users-list">
          <% for(u1 of userSend){ %>

          <div class="user">
            <div class="user-image">
              <img src="<%= u1.avatar %>" alt="" />
            </div>
            <div class="user-name">
                <div>
                  <a href="/users/profile/<%= u1._id %>"><%= u1.name %></a>
                </div>
            </div>
            <div class="add-req" data-id="<%= u1._id %>">
              Chat
              
                <span class="material-icons">
                  near_me
                </span>
            </div>
          </div>

          <% } %>
        </div>

        <div id="ChatBox">
          


          <div id="message-form">
            <textarea
                type="text"
                name="message"
                id="chat-message"
                placeholder="message...."
            ></textarea>
            <input type="submit" id="send-button" />
            <label id="send-message" for="send-button">Send</label>
          </div>
          
        </div>
        
      </div>

    </div>

    <div class="modal-bg">
      <div  id="modal">
        <span>
          <h3>
            Do u want to delete this chat?
          </h3>

        </span>
        <div id="modal-close">+</div>
        <div id="button-label">
          <label for="btn"> <a id="link" style="text-decoration: none;" href="/users/chatBox">Delete Chat</a></label>

        </div>
        <div id="button">
          <input id="btn" type="submit">

        </div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/chat_profile.js"></script>
     <script src="/js/delete_chat.js"></script>
    <script src="/js/chat_engine.js"></script>
    <script> $('#message-form').hide(); </script>
    <script src="/js/delete_msg.js"></script>
    
    <script>
      $(".add-req").click(function () {
        var value = this.getAttribute('data-id');
        let roomcode = new ChatProfile(value,"<%= locals.user.email %>");
      });
    </script>
    

    <% }else{ %>
    <a href="/users/sign-in">sign in</a>
    <a href="/users/sign-up">sign up</a>

    <% } %>
  </body>
</html>
